extends ./layout


//- Simple Image on the left.
  Contact Info on the right.

block content
  div(id='contact')
    img(id='contact-image')/
    p(class='about').
      I'm a mommy first, a photographer and hairstylist second and I love my 
      life.
    p(class='about').
      Although I enjoy so many attributes of being a stylist my specialty per 
      say, are Special Occasion and Bridal Hair.  It allows me the most room to be 
      creative and really give my brides the look they are wanting and at the same 
      time personalizing it to who they are as a unique individual.
    p(class='about').
      As for photography, I really love it.  A favorite of mine is capturing 
      those precious points in time that last forever.  I love lifestyle 
      photography especially with families and children.  There is a sweet 
      innocence about catching those moments when your little ones are in their 
      element, exploring the world around them.  They are inspiring, precious 
      little creatures who constantly remind me that there is still unconditional 
      love and sweetness in this world.
    p(class='emphasize').
      aea.photography1@gmail.com
