doctype html
html(lang='en')
  head
    title= pageTitle
    meta(charset='UTF-8')
    meta(content='width=device-width, initial-scale=1', name='viewport')
    link(rel='stylesheet', href='/css/main.css', type='text/css')
  body
    block content
    // Library Scripts
    script(type='text/javascript' src='/js/jquery-2.1.1.min.js')
    // App Scripts
    script(type='text/javascript' src='/js/app.js')
