extends ./layout

//- One central image on the screen.
  The image is small and contained in a frame on the museum wall.
  Clicking on it results in the image expanding to fill the screen.
  Clicking again results in the image deflating back into its
  frame on the wall.
  Swiping will trigger going to the next image on touch devices.

block headerNav
  nav(id='header-nav')
    div
      a(href='/bridal_hair_stylist') Bridal Hair Stylist
    div
      a(href='/') Home
    div
      a(href='/contact_annie') Me
block content
  div(id='creative-collage')
    div(class='left-col')
      a(href='/img/cp/l/1.jpg')
        img(src='/img/cp/s/1.jpg')
      a(href='/img/cp/l/3.jpg')
        img(src='/img/cp/s/3.jpg')
      a(href='/img/cp/l/1.jpg')
        img(src='/img/cp/s/1.jpg')
      a(href='/img/cp/l/1.jpg')
        img(src='/img/cp/s/1.jpg')
      a(href='/img/cp/l/3.jpg')
        img(src='/img/cp/s/3.jpg')
      a(href='/img/cp/l/1.jpg')
        img(src='/img/cp/s/1.jpg')
    div(class='right-col')
      a(href='/img/cp/l/2.jpg')
        img(src='/img/cp/s/2.jpg')
      a(href='/img/cp/l/4.jpg')
        img(src='/img/cp/s/4.jpg')
      a(href='/img/cp/l/2.jpg')
        img(src='/img/cp/s/2.jpg')
      a(href='/img/cp/l/2.jpg')
        img(src='/img/cp/s/2.jpg')
      a(href='/img/cp/l/4.jpg')
        img(src='/img/cp/s/4.jpg')
      a(href='/img/cp/l/2.jpg')
        img(src='/img/cp/s/2.jpg')
  
