extends ./layout

//- One central image on the screen.
  The image is small and contained in a frame on the museum wall.
  Clicking on it results in the image expanding to fill the screen.
  Clicking again results in the image deflating back into its
  frame on the wall.
  Swiping will trigger going to the next image on touch devices.

block content
  div(id='photography')
    //-div(id='previous-cp')
      //Placeholder
    img(id='photo-cp')/
    //-div(id='next-cp')
      //PlaceHolder