extends ./layout

//- Single image on a mirror in the center.
  Going to the next image fades the current one.
  Then the new one fades in.
  The buttons should not render on mobile versions of the site.
  Swipe Gestures will control moving to the next and previous image.

block headerNav
  nav(id='header-nav')
    div
      a(href='/creative_photography') Creative Photography
    div
      a(href='/') Home
    div
      a(href='/contact_annie') Me
block content
