extends ./layout

//- Single image on a mirror in the center.
  Going to the next image fades the current one.
  Then the new one fades in.
  The buttons should not render on mobile versions of the site.
  Swipe Gestures will control moving to the next and previous image.

block content
  div(id='stylist')
    div(class='previous')
      //Placeholder
    div(id='mirror')
      img(id='photo-s')
    div(class='next')
      //Placeholder