/*
GENERAL
*/

@font-face {
  font-family: 'AlwaysHere';
  src: local("AlwaysHere"),
       url(/fonts/AlwaysHere.ttf);
}

#page {
  text-align: center;
  min-width: 1024px;
}

hr {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  height: 2px;
  border-top: 1px solid #444444;
  border-bottom: 1px solid #ffffff;
  background-color: #eeaa00;
}

/*\GENERAL*/

/*
TOP HEADER
*/

#top-header {
  font-size: 500%;
  padding-top: 1em;
}

/*\TOP HEADER */

/*
NAV BAR
*/

#header-nav {
  text-align: center;
  font-size: 125%;
  padding: 1.25em 1em 1.25em 1em;
}

#header-nav div {
  display: inline-block;
  text-align: center;
  padding-right: 1.5em;
}

#header-nav div a {
  color: black;
  text-decoration: none;
}

#header-nav div a:hover {
  color: #cc9900;
}

/*\NAV BAR*/

/*
COLLAGE
*/

#collage {
  margin: 2em 1em 2em 1em;
  text-align: center;
}

#collage img {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  vertical-align: top;
  cursor: pointer;
  box-shadow: 10px 10px 30px #333333;
}

/*\COLLAGE*/

body {
  margin: 0;
  padding: 0;
  background-color: #dddddd;
  font-family: "AlwaysHere";
}
